.list-favorites {
    &--open &__items {        
        opacity: 1;
    }

    &__items {
        top: 0;
        position: absolute;
        transition: 0.2s ease;
    }    

    &--close &__items {
        opacity: 0;
    }
}
