.list-favorites {
    &__items {
        top: 0;
        right: 0;
        width: 20rem;
        position: absolute;
        transition: 0.2s ease;
    } 
    
    &:not(&--open) {
        opacity: 0;
    }
}
